.App {
  text-align: center;
}

.greeting {
  font-size: 0.7em;
  color: #e01171;
  
}

.skills {
  padding: 7% 20% 20%;
}

.title {
  margin: 0px;
  font-family: "Helvetica Neue";
  font-size: 2em;
  font-weight: 100;
}

.icons {
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
  flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .skills.icons {
    margin-top: 30%;
  }
}

.skills-icon {
  color: rgb(0, 0, 0);
  flex: 1 1 0;
  flex: 1;
  font-size: 150px;
  margin-top: 10%;
}

img {
    border-radius: 30%;
    width: 25%;
    height: 25%;
}




